In [31]:
import pandas as pd
import plotly.express as px
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [2]:
fifa = pd.read_csv('Fifa 23 Players Data.csv')
fifa.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,91,88,91,67,66,67,62,53,62,22
1,K. Benzema,Karim Benzema,91,91,64000000,"CF,ST",CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,34,...,89,84,89,67,67,67,63,58,63,21
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,86,83,86,67,69,67,64,63,64,22
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,"CM,CAM",CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,31,...,91,91,91,82,82,82,78,72,78,24
4,K. Mbappé,Kylian Mbappé,91,95,190500000,"ST,LW",ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,23,...,92,84,92,70,66,70,66,57,66,21

In [4]:
fifa_num = fifa.select_dtypes(['number'])

In [5]:
training_data = fifa_num.sample(frac=0.8, random_state=25)
testing_data = fifa_num.drop(training_data.index)

In [8]:
testing_data

,Overall,Potential,Value(in Euro),Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Wage(in Euro),Release Clause,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
14,89,91,85500000,29,188,87,1402,479,100000,181700000,...,37,41,37,35,40,35,35,36,35,90
17,89,90,105500000,27,177,75,2283,473,130000,182000000,...,86,89,86,87,89,87,86,84,86,24
32,87,88,77000000,28,188,78,2165,459,185000,148200000,...,80,84,80,85,88,85,85,87,85,21
35,87,87,42000000,31,192,76,1415,468,150000,79800000,...,40,44,40,38,42,38,37,36,37,87
36,87,87,77500000,29,165,60,2189,444,155000,143400000,...,85,87,85,85,87,85,83,80,83,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18524,48,72,130000,16,187,76,805,255,500,306000,...,21,24,21,19,23,19,19,21,19,49
18526,48,52,70000,24,178,68,1376,297,2000,114000,...,52,50,52,51,49,51,51,47,51,15
18527,48,58,110000,21,174,60,1207,245,1000,193000,...,45,39,45,33,30,33,32,29,32,17
18530,48,61,110000,19,177,72,1393,297,500,217000,...,51,50,51,49,50,49,50,49,50,16
18536,47,67,130000,18,170,65,1333,277,500,332000,...,52,49,52,46,44,46,46,42,46,17

In [12]:
X_train = training_data.drop(['Overall', 'Potential'], axis=1)
X_test = testing_data.drop(['Overall', 'Potential'], axis=1)

I dicieded to take all numerical values expect potential becouse I believe that this column should be explained and not used for explanations

In [13]:
Y_train = training_data['Overall']
Y_test = testing_data['Overall']

I want to explain Overall by data using Linear Regresion

In [16]:
linreg = LinearRegression().fit(X_train, Y_train)
linreg.score(X_test, Y_test)

0.9118012960684465

Score is not bad but I belevie It could be better we should delete less important columns to improve that score

In [17]:
linreg.coef_

array([ 7.75441651e-08,  1.26010983e-01, -1.87086923e-02,  1.94828786e-02,
       -5.25644401e-02,  9.22072459e-02,  1.39686149e-05, -1.28368805e-08,
        5.11015901e-03, -4.81424440e-02,  7.03637247e-01, -5.07883485e-01,
        5.84201327e-03, -3.97243885e-02, -2.97495415e-03,  1.60732596e-01,
       -7.70127773e-02,  4.53447565e-02, -2.39231200e-02, -4.61297853e-02,
        8.52265390e-02, -5.17748298e-02,  3.80518542e-02, -1.35228084e-01,
        4.04333820e-02,  5.46054872e-02, -7.02320652e-02, -4.52247886e-02,
       -1.84371560e-02, -3.61969034e-02,  2.33520828e-02,  1.27444071e-01,
        3.14242532e-02,  1.12038899e-02,  4.78340825e-02, -5.93362164e-02,
       -2.88115804e-03,  6.45917993e-04,  1.59616528e-02, -8.34188168e-02,
       -8.72523471e-02, -5.89122144e-02,  6.06659897e-02,  6.23348762e-02,
        1.24310652e-02, -3.79020301e-02, -1.82673579e-02,  4.28992772e-02,
        2.57850686e-02,  4.12640425e-02,  3.81826164e-02,  2.51411600e-02,
        4.24601032e-01, -1.86440929e-02,  2.17537738e-02,  2.17537738e-02,
        2.17537738e-02, -1.86440929e-02, -8.91565796e-02,  1.65596255e-01,
        2.41261455e-01,  1.65596255e-01,  1.42145473e-01,  4.01007518e-01,
        1.42145473e-01,  1.46049151e-01, -1.16274601e-01,  1.46049151e-01,
        7.42631554e-02])

In [18]:
linreg.intercept_

-1.0480680003355758

In [20]:
np.argmax(linreg.coef_)

10

In [28]:
X_test.iloc[:,[10]]

       Skill Moves
14               1
17               3
32               3
35               1
36               4
...            ...
18524            1
18526            2
18527            2
18530            2
18536            2

[3708 rows x 1 columns]

As we can see the most important column is Skill Moves

In [29]:
np.argmin(linreg.coef_)

11

In [30]:
X_test.iloc[:,[11]]

       International Reputation
14                            5
17                            4
32                            3
35                            4
36                            3
...                         ...
18524                         1
18526                         1
18527                         1
18530                         1
18536                         1

[3708 rows x 1 columns]

And the least important column is International Reputation

Now lets try to explain Overall using random forest algorythm

In [38]:
rfr = RandomForestRegressor(max_depth=10, random_state=0)
rfr.fit(X_train, Y_train)

RandomForestRegressor(max_depth=10, random_state=0)

In [39]:
rfr.score(X_test, Y_test)

0.9894610183763394

In [40]:
rfr.feature_importances_

array([3.80353785e-01, 7.81564089e-02, 7.22474486e-05, 8.63038294e-05,
       7.98653173e-05, 1.12244011e-02, 1.83432096e-02, 2.25333440e-03,
       4.79706816e-05, 1.94143506e-05, 1.75649382e-05, 8.13408611e-05,
       8.65628595e-05, 3.19694480e-03, 2.86042381e-04, 3.44261059e-03,
       3.49119046e-04, 2.66473186e-04, 1.06764416e-04, 1.85770795e-04,
       1.69791784e-04, 8.85972695e-05, 1.21301966e-04, 8.82348260e-05,
       7.20196757e-05, 7.01009115e-05, 6.98392878e-05, 1.10610164e-04,
       9.22719686e-05, 1.08499193e-04, 8.21846613e-05, 4.77839031e-01,
       9.64918954e-05, 1.01591653e-04, 7.59927385e-05, 9.85461057e-05,
       9.03508114e-05, 8.62795490e-05, 9.96337943e-05, 1.12988598e-04,
       1.30934321e-04, 7.36365315e-05, 1.09589607e-04, 1.35048892e-04,
       1.32919217e-04, 1.30463892e-04, 1.06082627e-04, 1.12893638e-04,
       1.07787817e-04, 9.34421117e-05, 1.27297789e-04, 1.06655870e-04,
       6.31830846e-04, 1.40356163e-04, 4.04469207e-04, 3.36103883e-04,
       2.43393612e-04, 1.29044520e-04, 1.15849584e-03, 6.65378484e-04,
       1.70649673e-04, 6.79871643e-04, 3.21083007e-04, 2.51013177e-03,
       3.81298038e-04, 4.57716152e-04, 8.35514034e-03, 5.11529033e-04,
       3.20626253e-03])

In [41]:
np.argmax(rfr.feature_importances_)

31

In [37]:
X_test.iloc[:,[31]]

       Reactions
14            87
17            88
32            86
35            89
36            87
...          ...
18524         43
18526         50
18527         48
18530         46
18536         49

[3708 rows x 1 columns]

As we can see for random forest regression can achive much better score and the most important column is Reactions